<!doctype html>
<html>
    <head>
        <title>Путешествия</title>
        <link rel="stylesheet" type="text/css" href="styles/reset.css"/>
        <link rel="stylesheet" type="text/css" href="styles/style.css"/>
        <link rel="shortcut icon" href="../resources/image/world.png">
        <script src="script/jquery-1.10.2.js"></script>
        
        <script src="script/backToTop.js" type="text/javascript"></script>
        <script src="script/dynamic-section.js" type="text/javascript"></script>
    

        <script data-main="script/config.js" src="script/require.js"></script>
    
    </head>
    <body onload="checkCookies()">
            <header>
                    <div id="logo">
                        <a href="/"><img src="../resources/image/world.png" width="80" height="80"></a>
                    </div>
                    <nav>
                        <ul>
                            <li class = "text"><a href="sites">Сайты </a></li>
                            <li class = "text"><a href="timetour">Туры</a></li>
                            <li class = "text"><a href="facts">Интересные факты</a></li>
                        </ul>
                    </nav>

<div class="error-wrapper">
<div class="error">
    <%= message %>
</div>
<div class="invalid">
    <!--dynamic content-->
</div>
</div>

    <div id="authorization_sect">
        <% if(currentUser) { %>
            <nav>
                <p class = "text">Добро пожаловать!</p><br>
                <a class="dropdown-toggle" href="#" title="Menu"><span id="user"><%= currentUser %></span></a>
                <ul class="dropdown">
                    <li class = "text"><a href="/tour">Рекомендуемые туры в ближайшее время</a></li>
                    <li class = "text"><a href="/logout">Выход</a></li>
                </ul>
            </nav>
        <% } else { %>
        <ul id="auth">
            <li><a href="/signup" onclick="return makeSignUpSectionVisible()">Регистрация</a></li>
            <li><a href="/login" onclick="return makeLogInSectionVisible()">Вход</a></li>
        </ul>
        <% } %>
    </div>

</header>

<main>
    <div id="list-wrapper">
        <div class="conference">
            <table>
                <caption class = "text_caption">Туры по Европе</caption>
                <tbody>
                <tr>
                    <td>
                        <img src="../resources/image/stockgolm.jpg" width="150" class="masterTooltip"
                             title="Стокгольм, Швеция">
                    </td>
                    <td>
                        <span title="Место назначения" class="masterTooltip">
                        Стокгольм, Швеция
                    </td>
                    <td>
                        <span title="Отбытие / Прибытие" class="masterTooltip">
                            03.03.2019 / 09.03.2019
                    </span>
                    <td>
                        <span title="Стоимость от" class="masterTooltip">
                            200$
                    </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../resources/image/lissabon.jpg" width="150" class="masterTooltip"
                             title="Лиссабон, Португалия">
                    </td>
                    <td>
                        <span title="Место назначения" class="masterTooltip">
                        Лиссабон, Португалия
                    </td>
                    <td>
                        <span title="Отбытие / Прибытие" class="masterTooltip">
                            08.04.2019 / 12.04.2019
                    </span>
                    <td>
                        <span title="Стоимость от" class="masterTooltip">
                            170$
                    </span>
                    </td>
                    <tr>
                        <td>
                            <img src="../resources/image/zagreb.jpg" width="150" class="masterTooltip"
                                 title="Загреб, Хорватия">
                        </td>
                        <td>
                            <span title="Место назначения" class="masterTooltip">
                            Загреб, Хорватия
                        </td>
                        <td>
                            <span title="Отбытие / Прибытие" class="masterTooltip">
                                03.03.2019 / 09.03.2019
                        </span>
                        <td>
                            <span title="Стоимость от" class="masterTooltip">
                                150$
                        </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../resources/image/madrid.jpg" width="150" class="masterTooltip"
                                 title="Мадрид, Испания">
                        </td>
                        <td>
                            <span title="Место назначения" class="masterTooltip">
                            Мадрид, Испания
                        </td>
                        <td>
                            <span title="Отбытие / Прибытие" class="masterTooltip">
                                12.05.2019 / 22.05.2019
                        </span>
                        <td>
                            <span title="Стоимость от" class="masterTooltip">
                                230$
                        </span>
                        </td>
                    </tr>

                    <tr>
                            <td>
                                <img src="../resources/image/praga.jpg" width="150" class="masterTooltip"
                                     title="Прага, Чехия">
                            </td>
                            <td>
                                <span title="Место назначения" class="masterTooltip">
                                Прага, Чехия
                            </td>
                            <td>
                                <span title="Отбытие / Прибытие" class="masterTooltip">
                                    22.06.2019 / 29.06.2019
                            </span>
                            <td>
                                <span title="Стоимость от" class="masterTooltip">
                                    200$
                            </span>
                            </td>
                        </tr>

                </tr>
                </tbody>
            </table>
        </div>


        <svg height="870" width="30">
            <line x1="15" y1="5" x2="15" y2="750" style="stroke:Teal;stroke-width:2"/>
        </svg>


        <div class="conference">
            <table>
                <caption class="text_caption">Туры по Азии</caption>
                <tbody>
               

                    <tr>
                        <td>
                            <img src="../resources/image/baku.jpg" width="150" class="masterTooltip"
                                 title="Баку, Азербайджан">
                        </td>
                        <td>
                            <span title="Место назначения" class="masterTooltip">
                            Баку, Азербайджан
                        </td>
                        <td>
                            <span title="Отбытие / Прибытие" class="masterTooltip">
                                30.05.2019 / 14.06.2019
                        </span>
                        <td>
                            <span title="Стоимость от" class="masterTooltip">
                                250$
                        </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../resources/image/seul.jpg" width="150" class="masterTooltip"
                                 title="Сеул, Южная Корея">
                        </td>
                        <td>
                            <span title="Место назначения" class="masterTooltip">
                            Сеул, Южная Корея
                        </td>
                        <td>
                            <span title="Отбытие / Прибытие" class="masterTooltip">
                                30.05.2019 / 07.06.2019
                        </span>
                        <td>
                            <span title="Стоимость от" class="masterTooltip">
                                300$
                        </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../resources/image/tbilisi.jpg" width="150" class="masterTooltip"
                                 title="Тбилиси, Грузия">
                        </td>
                        <td>
                            <span title="Место назначения" class="masterTooltip">
                            Тбилиси, Грузия
                        </td>
                        <td>
                            <span title="Отбытие / Прибытие" class="masterTooltip">
                                15.06.2019 / 30.06.2019
                        </span>
                        <td>
                            <span title="Стоимость от" class="masterTooltip">
                                350$
                        </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../resources/image/pnomp.jpg" width="135" class="masterTooltip"
                                 title="Пномпень, Камбоджа">
                        </td>
                        <td>
                            <span title="Место назначения" class="masterTooltip">
                            Пномпень, Камбоджа
                        </td>
                        <td>
                            <span title="Отбытие / Прибытие" class="masterTooltip">
                                17.06.2019 / 22.07.2019
                        </span>
                        <td>
                            <span title="Стоимость от" class="masterTooltip">
                                410$
                        </span>
                        </td>
                    </tr>

                    <tr>
                            <td>
                                <img src="../resources/image/vet.jpg" width="150" class="masterTooltip"
                                     title="Ханой, Вьетнам">
                            </td>
                            <td>
                                <span title="Место назначения" class="masterTooltip">
                                Ханой, Вьетнам
                            </td>
                            <td>
                                <span title="Отбытие / Прибытие" class="masterTooltip">
                                    17.06.2019 / 22.07.2019
                            </span>
                            <td>
                                <span title="Стоимость от" class="masterTooltip">
                                    400$
                            </span>
                            </td>
                        </tr>

                </tbody>
            </table>
        </div>
    </div>
</main>

<footer>
    <p id ="foot"><font color ="white" text-aling="center">Let's travel together!</font><br><br>
        Phone for information: +375(33)341 80 70
     </p>
</footer>

</body>
</html>