body {
    color: #fff;
    background-origin: border-box;
    background-color:LightYellow;
}

ul {
    list-style-type: none;
}

ul li {
    font-size: 17pt;
    font-family: 'Righteous', cursive;
    display: inline;
}

a:link, a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: OrangeRed;
}

#toTop {
    font-family: 'Righteous', cursive;
    position: fixed;
    size: 16px;
    color: white;
    bottom: 20px;
    right: 0;
    cursor: pointer;
    display: none;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    background-color: OrangeRed;
}

header, footer{
    padding: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: Orange;
    box-shadow: inset -2px -1px OrangeRed;
}

header div#logo {
    margin: 20px;
}

nav ul li {
    font-size: 23pt;
    padding-right: 30px;
}

div.error-wrapper {
    text-align: center;
    width: 420px;
}

div.error, div.invalid {
    color: OrangeRed;
    font-family: 'Righteous', cursive;
}

@font-face {
    font-family: Ostrich-regular;
    src: url(/resources/fonts/OstrichSans-Black.otf);
}

span#user {
    padding: 20px;
    font-size: 13pt;
    font-family: 'Righteous', cursive;
}

header div#authorization_sect {
    position: absolute;
    left: 75%;
}

header div#authorization_sect ul#auth li + li:before {
    content: "| ";
    color: #fff;
}

form.visible-form {
    position: relative;
    left: -100px;
}

form .field {
    clear: both;
    text-align: right;
    line-height: 27px;
    font-family: 'Righteous', cursive;
}

form label {
    float: left;
    padding-right: 10px;
    font-size: 11pt;
}

input[type='text'], input[type='password'] {
    font-size: 11pt;
    border: 1px solid #CCC;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px
}

form button, input[type='submit'] {
    font-family: 'Righteous', cursive;
    color: white;
    background-color: #e35000;
    border-style: none;
    margin: 2px 10px 0 10px;
    border-radius: 5px;
    font-size: 11pt;
}

ul.dropdown {
    font-family: 'Righteous', cursive;
    display: none;
    position: absolute;
    margin-top: 15px;
    background: Orange;
    min-width: 160px;
    border-radius: 0 0 5px 5px;
}

ul.dropdown li a {
    font-family: 'Righteous', cursive;
    font-size: 12pt;
    padding: 0 2em;
    display: block;
}

div#content {
    display: flex;
    align-content: center;
}

article#main-article {
    margin: 70px 20px 70px 70px;
    padding: 0 40px;
    width: 800px;
    height: auto;
    border-radius: 10px;
    background: Orange;
    box-shadow: inset 0 4px 4px #e35000;
}

div#article-content-wrapper h2 {
    color: white;
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: 25pt;
    font-weight: 600;
}

div#article-content-wrapper h3 {
    color: #e35000;
    font-size: 20pt;
    font-weight: 600;
}

div#article-content-wrapper p {
    padding: 0 0 20px 10px;
    font-size: 14pt;
    text-indent: 2em;
    text-align: justify;
    color: Teal;
    font-family: 'Righteous', cursive;
}

article#main-article #video {
    margin: 0 30px 20px 0;
    float: left;
}

aside#aside-part {
    margin: 70px 70px 70px 20px;
    padding: 0 40px;
    width: 250px;
    height: auto;
    border-radius: 10px;
    background: Orange;
    box-shadow: inset 0 4px 4px #e35000;
    text-align: center;
}

div.article {
    margin: 15px 0;
    font-size: 11pt;
    font-family: 'Righteous', cursive;
}

img.article-image {
    margin-bottom: 10px;
}

div#list-wrapper {
    margin: 50px 20px;
    padding: 20px;
    width: 93%;
    height: auto;
    border-radius: 10px;
    background: Orange;
    box-shadow: inset 0 5px 5px #e35000;
    display: flex;
    justify-content: space-around;
}

div#list-wrapper caption {
    font-size: 25pt;
    color: white;
}

div#list-wrapper table td {
    vertical-align: middle;
    text-align: center;
    padding: 20px;
    font-size: 14pt;
    font-family: 'Righteous', cursive;
}

table {
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    }
th {
    background: Teal;
    color: White;
    padding: 20px;
    }
td {
    color: Teal;
    padding: 20px;
    background: LightSkyBlue;
    }

.tooltip {
    display: none;
    position: absolute;
    border: 1px solid #333;
    background-color: Orange;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-size: 12pt;
    font-family: 'Righteous', cursive;
}

  
  path {
    fill: none;
    stroke: url(#stripes);
    stroke-width: 2;
    stroke-dasharray: 550 0;
    animation: dasharray 5s infinite alternate;
    }
  
  @keyframes dasharray {
    100% {
      stroke-dasharray: 0 500;
    }
  }

div#facts-wrapper {
    margin: 70px 55px;
    padding: 30px;
    width: 85%;
    height: auto;
    border-radius: 10px;
    background: Orange;
    box-shadow: inset 0 5px 5px #e35000;
}

div#facts-wrapper #facts-image {
    margin: 0 30px 40px 30px;
    text-align: center;
}

div#facts-wrapper h2{
    text-align: center;
    font-size: 29pt;
    color: white;
    font-family: 'Righteous', cursive;
}

div#facts-wrapper p {
    text-indent: 2em;
    text-align: justify;
    padding-bottom: 30px;
    font-size: 15pt;
    color: Teal;
    font-family: 'Righteous', cursive;
}

button#facts-button{
    position: relative;
    left: 28%;
    font-family: 'Righteous', cursive;
    color: white;
    background-color: #e35000;
    border-style: none;
    margin: 2px 10px 0 10px;
    border-radius: 10px;
    font-size: 20pt;
    height: 50px;
    width: 500px;
}
table#facts-table{
    margin-top: 30px;
    border-collapse: collapse;
}

table#facts-table, #facts-table td, #facts-table th{
    text-align: center;
    border: 2px solid White;
    font-size: 13pt;
    font-family: 'Righteous', cursive;
}

td.schedule-cell{
    display: flex;
    align-items: center;
}

.text{
    font-family: 'Righteous', cursive;
}

.textmini{
    font-family: 'Righteous', cursive;
    size: 16px;
    color: Teal;
    margin-bottom: 20px;
}
.text_h1{
    font-family: 'Righteous', cursive;
    size:20px;
    text-align: center;
}

.mini_h{
    color: white;
    font-family: 'Righteous', cursive;
    size:14px;
}

video[poster]{
    height:100%;
    width:100%;
    }

.img1{
    padding-left: 20px;
    padding-right: 20px;
}

 #foot{
    font-family: 'Righteous', cursive;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 550px;
 }

 .text_caption{
    font-family: 'Righteous', cursive;
    padding-bottom: 20px;
 }